{% extends "layout.html" %}

{% block title %}
    HOME
{% endblock %}


{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <form action="/" method="post">

                    <td><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="ADD_CHILD" type="text"></td>
                   <td> <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="age" placeholder="his/her Age (in days)" type="text"> </td>
                   <td> <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="disease" placeholder="his/her Disease" type="text"> </td>
                   <div class="mb-3">
                    <select class="form-select mx-auto w-auto" name="symbol">
                        <option disabled="" selected="" >Specialty</option>
                        {% for specialty in specialties %}
                            <option value="{{ specialty.Specialty }}">{{ specialty.Specialty }}</option>
                        {% endfor %}

                        </select>
                    </div>

                    <input class="btn btn-primary" type="submit" value="ADD">

                </form>
            </tr>


            <th class="text-start">Name</th>
            <th class="text-end">Age (in DAYS)</th>
            <th class="text-end">Disease</th>
            <th class="text_end">Doctors he/she needs</th>

        </thead>
        <tbody>


            {% for child in children %}
                <tr>
                    <td>{{ child.name }}</td>
                    <td>{{ child.age }}</td>
                    <td>{{ child.disease }}</td>
                    <td>
                        <form action="/doctors" method="post" id="{{ child.id }}">
                            <input type="hidden" name="form_id" value="{{ child.id }}">
                            <input class="btn btn-primary" type="submit" value="Show">
                        </form>
                    </td>

                </tr>


            {% endfor %}


        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold center " colspan="3">We hope best luck!</td>

            </tr>
        </tfoot>
    </table>




{% endblock %}
